$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

#home {
    background: url(../images/bg-home.jpg);
    background-size: cover;
    width: 1920px;
    height: 1080px;
}

.container {
    width: 960px;
}

.bgContainer {
    background-color: rgba(41,63,82,0.7);
}

header {
    background-color: #304e6a;
    z-index: 999;
}

.logos {
    float: right;
    clear: both;
    margin: 0;
    padding: 0;
}
