$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower
.container {
    width: 980px;
    background-color: rgba(41,63,82,0.7);
}

p, h1, h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

.headings {
        padding-left: 30px;
    }

.icones {
        padding: 10px;
    }

.textGreen {
        color: #90b967;
    }

#home {
    background: url(../images/bg-home.jpg);
    background-size: cover;
    padding-top: 90px;
    height: auto;
    header {
    background-color: #304e6a;
    height: 90px;
    width: 100%;
    -webkit-box-shadow: 0px 3px 2px 0px rgba(51, 50, 50, 0.59);
    -moz-box-shadow:    0px 3px 2px 0px rgba(51, 50, 50, 0.59);
    box-shadow:         0px 3px 2px 0px rgba(51, 50, 50, 0.59);
    nav {
        display: fixed;
        ul {
            list-style: none;
            li {
                display: inline-block;
                padding: 10px;
                p {
                    font-weight: 400;
                }
            }
        }
      }
    }
    .cornetaRio {
        padding: 10px 25px;
    }
    p{
        font-size: 1.5em;
        font-weight: 300;
        padding-top: 20px;
    }
    h2 {
        font-size: 2em;
        font-weight: 300;
    }
    h1 {
        font-size: 5em;
        padding: 20px;
        font-family: 'Oswald', sans-serif;
    }
    .download {
        padding-top: 30px;
    }

    .mockup {
        padding-bottom: 50px;
        float: left;

    }
}


#comoFunciona {
    padding-top: 90px;
    background: url(../images/bg-comoFunciona.jpg);
    background-size: cover;
    height: auto;
    -webkit-box-shadow: 0px -3px 2px 0px rgba(51, 50, 50, 0.59);
    -moz-box-shadow:    0px -3px 2px 0px rgba(51, 50, 50, 0.59);
    box-shadow:         0px -3px 2px 0px rgba(51, 50, 50, 0.59);
    .container {
        margin-top: -90px;
        padding-top: 90px;
    }
    h2{
        font-size: 2.8em;
        padding-bottom: 50px;
        padding-top: 20px;
        font-family: 'Oswald', sans-serif;
    }
    ol {
            li {

                padding: 10px;
                color: #fff;
                font-weight: 300;
                font-family: 'Roboto', sans-serif;
                font-size: 1.5em;
        }

    }
     i {
        color: #fff;
    }
}

#depoimentos {
    padding-top: 90px;
    h2 {
        font-weight: 300;
    }
}

footer {
    background-color: #304e6a;
    background-size: cover;
    -webkit-box-shadow: 0px -3px 2px 0px rgba(51, 50, 50, 0.59);
    -moz-box-shadow:    0px -3px 2px 0px rgba(51, 50, 50, 0.59);
    box-shadow:         0px -3px 2px 0px rgba(51, 50, 50, 0.59);
    .logos {
        margin: 0;
        padding: 0;
        }
        .text-logo {
            font-size: 1em;
        }
        .prefeitura{
            padding-top: 20px;
            padding-left: 20px;
        }
        .marginTop {
            margin-top: 20px;
        }
}



